Debug
/Skinned Window/*.user
/*.opensdf
/*.sdf
/*.suo
/FloppyOrgelEmulator/*.user
/FloppyOrgelEmulator/*.aps
_sdcard
desktop.ini
*.sdf
*.cogui
*.comarker
*.opensdf
*.suo
*.o
*.a
/platform_win32/*.opendb
/platform_win32/*.user
/platform_win32/advapi32.pdb/ED44722B2EF24C32B5421725CD13F4FA2/*.pd_
/platform_win32/ole32.pdb/87CF3B66EF4E48D0ABA4E93540C5725A2/*.pd_
*.pd_
/platform_stm32f4/bin/*.bin
/platform_stm32f4/bin/*.elf
/platform_stm32f4/bin/*.hex
/platform_win32/*.db
/platform_stm32f4/coocox_ide/FloppyOrgel/FloppyOrgel
