Debug
/Skinned Window/*.user
/*.opensdf
/*.sdf
/*.suo
/FloppyOrgelEmulator/*.user
/FloppyOrgelEmulator/*.aps
_sdcard
desktop.ini
*.sdf
*.cogui
*.comarker
*.opensdf
*.suo
/FloppyOrgelSystem/platform_win32/*.opendb
/FloppyOrgelSystem/platform_win32/*.user
